<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/nav_design2.css">
</head>
<body style="font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;background-image:url(static/imgs/graphback.jpg);background-repeat: repeat;">
<header id="header">
     <div style="z-index: 1;">
       <nav class="links" style="--items:8;font-size:2.5em;">
		<a href="userhomepage">Home</a>
		<a href="contact_form">Contact Customers</a>
		<a href="open_chat">Chat With Us</a>
        <a href="sales">Sales</a>
        <a href="my_achievements">My Achievements</a>
        <a href="lead_track">Track your Leads</a>
        <a href="dropsession">Logout</a>
		<a href="emp_profile">{{user}}</a>
		<span class="line"></span>
	</nav>
     </div>

</header>
<br>
<br>
<br>
<br>

<div style="background: rgba(5,3,0,0.63);width: 75%;height: 25%;margin: 5% 10% 5% 10.5%;z-index: 0;top: 0;left: 0;padding: 20px 20px 80px;margin-top: 5%;border-style:solid;border-color: black;border-width: thick;border-radius: 25px;">
    <div style="background: black;"><center><h2 style="color: white;">LEAD ORIGIN PROSPECT CONVERSION RATIO CHART</h2></center></div>
    <br>
    <br>
    <center><img src="static/imgs/StackedBar.png" alt="slider_img" width="600vw" height="500vh"></center>
    <br>
    <center><p style="color: white;font-size:1.5em;">Stacked bar graph showing absolute values of leads,the status
        of their conversion as well as the source of their origin</p></center>
</div>
<br>


<div style="background: rgba(5,3,0,0.63);width: 75%;height: 25%;margin: 5% 10% 5% 10.5%;z-index: 0;top: 0;left: 0;padding: 20px 20px 80px;margin-top: 5%;border-style:solid;border-color: black;border-width: thick;border-radius: 25px;">
    <div style="background: black;"><center><h2 style="color: white;">JOB SPECIALIZATION</h2></center></div>
    <br>
    <br>
    <center><img src="static/imgs/Specialization.png" alt="slider_img" width="700vw" height="400vh"></center>
    <br>
    <center><p style="color: white;font-size:1.5em;">Bar chart showing the count of leads according to their job profiles</p></center>
</div>
<br>


<div style="background: rgba(5,3,0,0.63);width: 75%;height: 25%;margin: 5% 10% 5% 10.5%;z-index: 0;top: 0;left: 0;padding: 20px 20px 80px;margin-top: 5%;border-style:solid;border-color: black;border-width: thick;border-radius: 25px;">
    <div style="background: black;"><center><h2 style="color: white;">LEAD ORIGIN</h2></center></div>
    <br>
    <br>
    <center><img src="static/imgs/PIE.png" alt="slider_img" width="600vw" height="500vh"></center>
    <br>
    <center><p style="color: white;font-size:1.5em;">Pie chart showing percentage of lead origination from different cities.</p></center>
</div>


</body>
</html>