<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.button2 {background-color: #000000;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
</style>
</head>
<body style="background-image: url('static/imgs/beach.jpg');background-size: 100% 150%;background-repeat: no-repeat;background-size: cover">

<div class="buttons" style="margin-top:20%">
    <center>
    <a href="login" style="color= white;"><button class="button">LOGIN AS ADMIN</button></a>
    <br>
    <br>
    <a href="login" style="color= white;"><button class="button button2">LOGIN AS USER</button></a>
    </center>
</div>


</body>
</html>